* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* BODY */
body {
    background: linear-gradient(120deg, #e0f2fe, #fdf2f8);
}

/* NAVBAR */
.navbar {
    background: #1e293b;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #facc15;
    text-decoration: none;
    font-weight: bold;
}

/* DASHBOARD GRID */
.dashboard {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 80px;
}

/* CARD */
.card {
    width: 260px;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    color: white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card h3 {
    margin-bottom: 15px;
}

.card p {
    font-size: 32px;
    font-weight: bold;
}

/* COLORS */
.blue {
    background: linear-gradient(135deg, #2563eb, #1e40af);
}

.green {
    background: linear-gradient(135deg, #16a34a, #15803d);
}

.orange {
    background: linear-gradient(135deg, #f97316, #ea580c);
}
.card.voter {
    background: linear-gradient(135deg, #8e44ad, #9b59b6);
}
/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 18px;
    background: white;
    color: #1e293b;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}