/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* BODY */
body {
    background: linear-gradient(120deg, #e0f2fe, #fdf2f8);
}

/* NAVBAR */
.navbar {
    background: #1e293b;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: #38bdf8;
    text-decoration: none;
    font-weight: bold;
}

/* FORM CENTER */
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* CARD */
.form-card {
    background: white;
    padding: 35px;
    width: 420px;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

.form-card h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #1e293b;
}

/* FORM */
.form-card label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #334155;
}

.form-card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border-radius: 6px;
    border: 1px solid #cbd5e1;
    font-size: 15px;
}

/* BUTTON */
.form-card button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #2563eb, #1e40af);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.form-card button:hover {
    opacity: 0.9;
}