* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* NAVBAR */
.navbar {
    background: #1f2937;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

.navbar a:hover {
    text-decoration: underline;
}

/* MAIN */
.main-container {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f4f6;
}

/* CARD */
.vote-card {
    background: white;
    padding: 30px;
    width: 380px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.vote-card h3 {
    text-align: center;
    margin-bottom: 5px;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

/* FORM */
label {
    display: block;
    margin-top: 15px;
    font-weight: 500;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #1e40af;
}

/* MESSAGE */
.message {
    background: #ecfdf5;
    color: #065f46;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 500;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 10px;
    background: #1f2937;
    color: white;
}
